.footer {
    background-color: #2C3E50;
    padding: 60px 20px;
    color: #fff;
}
  
  .footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    text-align: center;
  }
  
  .footer-col {
    flex: 1;
  }
  
  .footer-col h4 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
  }
  
  .footer-col p {
    margin: 5px 0;
    color: #dcdcdc;
    font-size: 15px;
  }
  
  /* Social Icons */
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-icons a {
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    background-color: #1abc9c;
    border-color: #1abc9c;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
    }
  }
  


.s-footer {
    background-color: #1a252f  !important;
    color: #FFF;
}